<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
        	<a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.in"
                   href="https://docs.google.com/document/d/1m-_5lf3O1yA0p5W4bwiljXigJues7vrncsb4mjJd3Ss/edit?usp=sharing">About Us</a>
        </div>
        <div class="col-sm-2">
        	<a class="nav-link">Contact Us</a>
        </div>
        <div class="col-sm-2">
        	<a class="nav-link">FAQ</a>
        </div>
    </div>
</div>